
    <header>
        <h1>Get your city forecast</h1>
    </header>
    <div class="container">
     <form>
    <div class="input-group mt-2">
        <input type="text" id="input" placeholder="Location" class="form-control">
        <input type="submit" value="Search" class="btn btn-primary ">
    </div>
    </form>
    <div class="show-weather text-center">
        <img src="" alt="" >
        <p id="forecast"></p>
        <p id="location"></p>

    </div>
    </div>
</body>

</html>