

   
     <form>
    <div class="input-group mt-2">
        <input type="text" id="input" placeholder="Location" class="form-control">
        <input type="submit" value="Search" class="btn btn-primary ">
    </div>
    </form>
    <div class="show-weather text-center">
        <img src="" alt="" >
        <p class="lead" id="forecast"></p>
        <p class="lead"  id="location"></p>
        
    </div>
